# Dependencies
node_modules/

# Environnement
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Tests
coverage/

# Build
dist/
build/